.App.open {
  padding-bottom: 20rem;
}

.flexy {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  &>div {
    width: 50%;
    box-sizing: border-box;
    padding: 1rem;
  }
}

.hidden {
  display: none;
}

.select {
  position: relative;

  .input {
    border: 1px solid black;
    width: 20rem;
    input {
      box-sizing: border-box;
      width: calc(20rem - 2px);
      opacity: 0;
      border-width: 0;
      outline: none;
      &:focus {
        outline: none;
      }
    }
    &.open {
      input {
        opacity: 1;
      }
    }
  }

  .label {
    position: absolute;
    margin: -1.1rem 0 0 0.2rem;
  }

  .menu {
    display: none;
    position: absolute;
    background: #fff;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.49);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.49);
    z-index: 5;
    padding-left: 0.3rem;
    box-sizing: border-box;
    border-left: 1px solid #bbb;
    max-height: 20rem;
    width: 20rem;
    overflow-y: scroll;

    &>div {
      cursor: pointer;
      border-bottom: 1px dashed bisque;
      &:last-child {
        border-width: 0;
      }
      &.selected {
        background: bisque;
      }
    }
    &.open {
      display: block;
      
    }
  }

  .spinner {
    position: absolute;
    margin: -1.1rem 0 0 19rem;
  }
}

.spinner {
  animation: rotation 2s infinite linear;
  &.hidden {
    display: none;
  }
}

@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
      -moz-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

@media all and (max-width: 768px) {
  .flexy {
    flex-direction: column;
    &>div {
      width: 100%;
    }
  }

  .select {
    font-size: 2rem;
    .input {
      width: calc(100% - 1rem);
      input {
        font-size: 2rem;
        width: calc(100% - 2px);
      }
    }
    .label {
      margin: -2.5rem 0 0 0.2rem;
    }
    .menu.open {
      width: 100%;
    }
    .spinner {
      right: 1.5rem;
      margin: -2.4rem 0 0 0;
    }
  }
}