.flexy {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; }
  .flexy > div {
    width: 50%;
    box-sizing: border-box;
    padding: 1rem; }

.hidden {
  display: none; }

.select {
  position: relative; }
  .select .input {
    border: 1px solid black;
    width: 20rem; }
    .select .input input {
      width: calc(20rem - 2px);
      opacity: 0;
      border-width: 0;
      outline: none; }
      .select .input input:focus {
        outline: none; }
    .select .input.open input {
      opacity: 1; }
  .select .label {
    position: absolute;
    margin: -1.1rem 0 0 0.2rem; }
  .select .menu {
    display: none;
    position: absolute;
    background: #fff;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.49);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.49);
    z-index: 5;
    padding-left: 0.3rem;
    box-sizing: border-box;
    border-left: 1px solid #bbb;
    max-height: 20rem;
    width: 20rem;
    overflow-y: scroll; }
    .select .menu > div {
      cursor: pointer;
      border-bottom: 1px dashed bisque; }
      .select .menu > div:last-child {
        border-width: 0; }
      .select .menu > div.selected {
        background: bisque; }
    .select .menu.open {
      display: block; }
  .select .spinner {
    position: absolute;
    margin: -1.1rem 0 0 19rem; }

.spinner {
  animation: rotation 2s infinite linear; }
  .spinner.hidden {
    display: none; }

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    transform: rotate(359deg); } }
